@import "normalize.css";
@import "grid.css";
@import "fonts.css";
:root {
  --text-color: #3333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;
  --primary-color: #0abead;
}
/* reset styles: */
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* app : */
html {
  font-size: 10px;
  /*  or :   font-size: 62.5%; */
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
  padding-top: 12rem;
}
/* header : */
.header {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  left: 0;
  background-color: var(--section-bg-color);
  box-shadow: 0 0.4rem 4rem rgba(4, 195, 255, 16%);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav__logo {
  color: var(--primary-color);
  font-family: "Poppins Black";
  font-size: 6rem;
  margin: 0;
}
.menu {
  display: flex;
  z-index: 100;
}
.menu__item {
  margin-left: 4rem;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__link {
  display: inline-block;
  color: var(--text-color);
  font-family: "Poppins Medium";
  transition: color 150ms ease-in;
}
.menu__link:hover {
  color: var(--primary-color);
}
.menu__link--active {
  color: var(--primary-color);
}
.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__toggle-line {
  transition: all 100ms ease-in;
  position: relative;
}
.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
}
.nav__toggle-line::before {
  position: absolute;
  transition: all 150ms ease-in;
  top: 1.2rem;
}
.nav__toggle-line::after {
  position: absolute;
  transition: all 150ms ease-in;
  bottom: 1.2rem;
}
.nav__toggle-icon-open .nav__toggle-line {
  background-color: transparent; /*delete center line*/
}
.nav__toggle-icon-open .nav__toggle-line::before {
  transform: translateY(-1.2rem) rotate(-45deg);
}
.nav__toggle-icon-open .nav__toggle-line::after {
  transform: translateY(1.2rem) rotate(45deg);
}
.cover {
  position: fixed; /*add with js*/
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: all 200ms ease-in;
}
.cover--show {
  opacity: 1;
  z-index: 99;
}
/* home : */
.home {
  margin-top: 8rem;
  background-image: url(../images/shapes/header-shape.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 82rem;
}
.home__name {
  color: var(--primary-color);
  font-size: 2.8rem;
  font-family: "Poppins SemiBold";
}
.home__name span {
  color: #f57f17;
}
.home__title {
  font-family: "Poppins Bold";
  color: var(--primary-color);
  font-size: 5rem;
  margin: 0;
}
.home__caption {
  margin-top: 1rem;
  margin-bottom: 3rem;
  opacity: 70%;
}
.home__links-wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.home__photo {
  width: 55rem;
  height: 55rem;
  background-image: url(../images/header-avatar.jpg);
  border-radius: 100%;
  border: 2rem solid var(--section-bg-color);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
}
/* component btn : */
.app-btn {
  width: 18rem;
  height: 5.2rem;
  border-radius: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: "Poppins SemiBold";
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.app-btn--orange {
  background-color: #f57f17;
}
/* helper class : */
.items--center {
  align-items: center;
}
/* heade : */
.aboutus {
  margin-top: 6rem;
}
.section-head {
  text-align: center;
  margin-bottom: 5rem;
}
.section-head__title {
  font-family: "Poppins Bold";
  font-size: 4.8rem;
  color: var(--primary-color);
  margin: 0;
}
.section-heade__caption {
  color: var(--text-color);
  margin: 0.5rem 0 2rem 0;
  letter-spacing: 0.25rem;
}
.section-head__line {
  display: block;
  width: 20rem;
  height: 0.2rem;
  margin: 0 auto;
  background-color: var(--primary-color);
  position: relative;
}
.section-head__line::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.8rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.about {
  display: flex;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
  background-color: var(--section-bg-color);
  min-height: 62rem;
}
.about__cover {
  flex-basis: 48%;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__content {
  flex-basis: 52%;
  padding: 4rem 6rem;
}
.about__title {
  margin-top: 0;
  font-family: "Poppins SemiBold";
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.about__description {
  margin-top: 0;
  margin-bottom: 7rem;
}
.about__list-title {
  color: var(--primary-color);
  font-family: "Poppins SemiBold";
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.about-list {
  margin-bottom: 3rem;
  margin-left: 1rem;
}
.about-list__item {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 2.5rem;
}
.about-list__item :last-child {
  margin-bottom: 0;
}
.about-list__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f57f17;
  border-radius: 100%;
}
.about__links-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}
/* services : */
.services {
  margin-top: 20rem;
}
.service {
  color: #fff;
  text-align: center;
  padding: 7rem 3rem;
  height: 100%;
}
.service__title {
  font-size: 2.4rem;
  font-family: "Poppins Bold";
  margin-top: 1.6rem;
  margin-bottom: 0;
}
.service__caption {
  margin-bottom: 0;
}
.service--green {
  background-color: #49af46;
}
.service--purple {
  background-color: #8540ff;
}
.service--yellow {
  background-color: #ffc50c;
}
.service--pink {
  background-color: #ec407a;
}
.service--orange {
  background-color: #ff6331;
}
.service--blue {
  background-color: #13b6ff;
}
/* resume : */
.resume {
  margin-top: 20rem;
  background-color: var(--section-bg-color);
  margin-bottom: 10rem;
  box-shadow: 0 0.4rem 4rem rgba(4, 195, 255, 40%);
  padding: 8rem 0;
  transform: skewY(-6deg);
}
.skew-reset {
  transform: skewY(6deg);
}
.resume-list {
  background-color: var(--app-bg-color);
  box-shadow: 0 0.4rem 4rem rgba(96, 233, 255, 27%);
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
  min-height: 40rem;
}
.h-full {
  height: 100%;
}
.resume-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  width: 4rem;
  z-index: -1;
}
.resume-list__item {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  cursor: pointer;
}
.resume-list__item :last-child {
  margin-bottom: 0;
}
.resume-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--primary-color);
  width: 5.4rem;
  z-index: -1;
  border-radius: 3rem;
  max-width: 27rem;
  transition: all 0.2s ease-in;
}
.resume-list__icon {
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 0.8rem;
}
.resume-list__text {
  font-family: "Poppins SemiBold";
  font-size: 1.8rem;
  transition: all 0.2s ease-in;
  margin-left: 2.5rem;
}
.resume-list__item--active span {
  color: #fff;
}
.resume-list__item--active::before {
  width: 100%;
}
.resume-content {
  border-left: 0.2px solid var(--primary-color);
  padding-left: 3rem;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.resume-content--show {
  height: auto;
  overflow: visible;
  opacity: 1;
}
.resume-content__item {
  margin-bottom: 2rem;
}
.resume-content__item:last-child {
  margin-bottom: 0;
}
.resume-content__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resume-content__title {
  color: #ff5823;
  font-family: "Poppins SemiBold";
  font-size: 1.8rem;
  margin: 0;
  position: relative;
}
.resume-content__title::before {
  position: absolute;
  content: "";
  left: -4rem;
  top: 0;
  bottom: 0;
  width: 1.8rem;
  height: 1.8rem;
  background-color: var(--primary-color);
  border-radius: 100%;
  margin: auto;
}
.resume-content__date {
  background-color: #ff5823;
  border-radius: 2rem;
  padding: 0.2rem 1.5rem;
  color: #fff;
}
.resume-content__subtitle {
  font-family: "Poppins SemiBold";
  font-size: 1.6rem;
  margin: 1rem 0;
}
.resume-content__description {
  margin: 0;
}
