@import "normalize.css";
@import "grid.css";
@import "fonts.css";
:root {
  --text-color: #3333333;
  --app-bg-color: #fff;
  --section-bg-color: #fff;
  --primary-color: #0abead;
}
/* reset styles: */
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* app : */
html {
  font-size: 10px;
  /*  or :   font-size: 62.5%; */
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--app-bg-color);
}
/* header : */
.header {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  background-color: var(--section-bg-color);
  box-shadow: 0 0.4rem 4rem rgba(4, 195, 255, 16%);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav__logo {
  color: var(--primary-color);
  font-family: "Poppins Black";
  font-size: 6rem;
  margin: 0;
}
.menu {
  display: flex;
  z-index: 100;
}
.menu__item {
  margin-left: 4rem;
}
.menu__item:first-child {
  margin-left: 0;
}
.menu__link {
  display: inline-block;
  color: var(--text-color);
  font-family: "Poppins Medium";
  transition: color 150ms ease-in;
}
.menu__link:hover {
  color: var(--primary-color);
}
.menu__link--active {
  color: var(--primary-color);
}
.nav__toggle-icon {
  display: none;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav__toggle-line {
  transition: all 100ms ease-in;
  position: relative;
}
.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  width: 4.5rem;
  height: 0.4rem;
  background-color: var(--primary-color);
  border-radius: 2rem;
}
.nav__toggle-line::before {
  position: absolute;
  transition: all 150ms ease-in;
  top: 1.2rem;
}
.nav__toggle-line::after {
  position: absolute;
  transition: all 150ms ease-in;
  bottom: 1.2rem;
}
.nav__toggle-icon-open .nav__toggle-line {
  background-color: transparent; /*delete center line*/
}
.nav__toggle-icon-open .nav__toggle-line::before {
  transform: translateY(-1.2rem) rotate(-45deg);
}
.nav__toggle-icon-open .nav__toggle-line::after {
  transform: translateY(1.2rem) rotate(45deg);
}
.cover {
  position: fixed; /*add with js*/
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: all 200ms ease-in;
}
.cover--show {
  opacity: 1;
  z-index: 99;
}
/* home : */
.home {
  margin-top: 8rem;
}
.main {
  padding-top: 12rem;
}
.home__content {
}
.home__name {
  color: var(--primary-color);
  font-size: 2.2rem;
  font-family: "Poppins SemiBold";
}
.home__name span {
  color: #f57f17;
}
.home__title {
  font-family: "Poppins Bold";
  color: var(--primary-color);
  font-size: 4rem;
  margin: 0;
}
.home__caption {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.home__links-wrapper {
  display: flex;
  gap: 2rem;
}
.home__link {
}
.home__photo {
  width: 50rem;
  height: 50rem;
  background-image: url(../images/header-avatar.jpg);
  border-radius: 100%;
  border: 2.5rem solid #fff;
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 0 0 4rem rgba(96, 233, 255, 27%);
}
/* component btn : */
.app-btn {
  width: 16rem;
  height: 5rem;
  border-radius: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: "Poppins SemiBold";
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.app-btn--orange {
  background-color: #f57f17;
}
/* helper class : */
.items--center {
  align-items: center;
}
